<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Lista Gestores</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Matricula</th>
            <th>Nascimento</th>
            <th>Setor</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let gestor of gestores | async">
            <td>{{gestor.nome}}</td>
            <td>{{gestor.matricula}}</td>
            <td>{{gestor.nascimento}}</td>
            <td>{{gestor.setor}}</td>
            <td><button (click)="deleteGestor(gestor.id)" class="btn btn-danger">Deletar</button>
              <button (click)="updateGestor(gestor.id)" class="btn btn-warning" style="margin-left: 10px">Editar</button>
                <button (click)="gestorDetalhe(gestor.id)" class="btn btn-info" style="margin-left: 10px">Detalhes</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>